@import "../waybar/mocha.css";

:root {
  --border-radius: 22px;
  --cc-bg: transparent;

  --widget-background: lighter(@crust);
  --noti-bg-alpha: 0.6;

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  border-radius: 0;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification {
  border-radius: var(--border-radius);
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
  background: @mantle;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  border-radius: var(--border-radius);
  background-color: darker(@mantle);
  color: darker(@mantle);
}

.notification-group {
  border-radius: var(--border-radius);
  background: transparent;
  padding: 8px;
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  /* background: rgba(46, 46, 46, 1); */
  background: @base;
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}

