@import "./mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;

  border: none;
  border-radius: 0px;

  min-height: 0;
  padding: 0;
  margin: 0;
}

tooltip {
  border-radius: 10px;
  background-color: alpha(@crust, 0.9);
}

tooltip label {
  color: @text;
  padding: 15px;
}

window#waybar {
  background-color: alpha(@base, 0.8);
  border-radius: 100px;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 100px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  /* box-shadow: inset 0 -3px @primary; */
}

#workspaces {
  margin: 0 5px;
  background-color: transparent;
  border-radius: 100px;
}

#workspaces button {
  background-color: alpha(@mantle, 0.8);
  color: @rosewater;
  border-radius: 100px;
  margin: 3px 5px;
  min-width: 30px;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: inherit;
  text-shadow: inherit;

  background-color: alpha(@text, 0.6);
  color: @crust;
  min-width: 65px;
  transition: all 0.3s ease-in-out
}

#workspaces button.focused,
#workspaces button.active {
  background-color: alpha(@text, 0.6);
  color: @crust;
  min-width: 65px;
  transition: all 0.3s ease-in-out
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#principal #custom-drawer,
#principal #idle_inhibitor,
#principal #wireplumber,
#principal #power-profiles-daemon,
#principal #cpu,
#principal #memory,
#principal #backlight,
#principal #temperature,
#network,
#battery,
#tray,
#clock,
#custom-notification,
#custom-power {
  padding: 3px 10px;
  margin: 3px 5px;
  border-radius: 100px;
  background-color: alpha(@mantle, 0.8);
  color: lighter(@rosewater);
}

#principal #custom-drawer:hover,
#principal #idle_inhibitor:hover,
#principal #wireplumber:hover,
#principal #power-profiles-daemon:hover,
#principal #cpu:hover,
#principal #memory:hover,
#principal #backlight:hover,
#principal #temperature:hover,
#network:hover,
#battery:hover,
#tray:hover,
#clock:hover,
#custom-notification:hover,
#custom-power:hover {
  background-color: alpha(@text, 0.6);
  color: @crust;
}

#custom-power {
  margin-right: 15px;
}


/* #power-profiles-daemon.performance { */
/*     background-color: darker(#f53c3c); */
/* } */
/**/
/* #power-profiles-daemon.balanced { */
/*     background-color: darker(#2980b9); */
/* } */
/**/
/* #power-profiles-daemon.power-saver { */
/*     background-color: darker(#2ecc71); */
/* } */


/* #network.disconnected { */
/*     background-color: #f53c3c; */
/* } */
/**/
/* #pulseaudio.muted { */
/*     background-color: #90b1b1; */
/*     color: #2a5c45; */
/* } */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor.activated {
  background-color: darker(@mauve);
  color: @text;
}

